#about-page {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color:$white;
}

.about-wrapp {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-top {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  flex: 1;
}

.about-title {
  margin: 4em 4em 2em 4em;
  text-transform: uppercase;
  font-size: 7px;
  color:$blue;
  font-weight: 600;
  flex: 1;
}

.about-txt {
  margin: 0 2em 2em 2em;
}

.about-txt h3 {
  margin-top: 0.4em;
  color: $grey;
  font-size: 28px;
  font-weight: 800;
  margin: 0;
}

.about-txt p {
  margin: 0;
  font-size: 11px;
  color: $light-gray;
  font-weight: 300;
}

.about-info {
  display: flex;
  gap: 1rem;
  margin-top: 1em;
  margin: 2em;
}

.about-bottom {
  flex: 2;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.about-img {
  flex: 1;
  background-image: url("../assets/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
 