#about-page {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color:$white;

}

.about-wrapp {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#about-top {
  padding: 3em;
  /*height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;*/
}

.about-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 10px;
  color:$blue;
  font-weight: 600;
}

.about-title h1{
  margin: 0;
} 

.about-txt {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.about-txt h3 {
  padding: .5em 0;
  color: $grey;
  font-size: 43px;
  font-weight: 800;
  margin: 0;

}

.about-txt p {
  margin: 0;
  font-size: 18px;
  color: $light-gray;
  font-weight: 300;
}

.about-info {
  justify-content: space-between;
  display: flex;
}

.info h1 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 0;
  color: $orange;
  font-weight: 600;
}

.info p {
  margin: 0;
  font-size: 18px;
  color: $light-gray;
  font-weight: 300;
}

#about-bottom {
  flex: 1;
  height: 100%;
}

.about-img {
  background-image: url("../assets/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

