#event-page {
    width: 100%;
    height: 100vh;
    }
    
  .event-wrapp {
    display: flex;
    flex-direction:column ;
    height: 100%;
    }
    
  .event-top {
    flex: 1;
    padding: 2em;
    }
  
    .event-title h3 {
      text-transform: uppercase;
      font-size: 9px;
      color: #3781A1;
      font-weight: 600;
    }
    
    
    .event-txt h1 {
      margin-top: .4em;
      color: #1C2834;
      font-size: 28px;
      font-weight:800;
      margin: 0;
    }
    
    .event-txt p {
      margin: 0;
      font-size: 11px;
      color: #686868;
      font-weight: 300;
    }
  
  .event-bottom {
    flex: 3;
    }
    
  .event-sections {
    gap: 2em;
    padding-left: 2em;   
    padding-right: 2em;   
    display: flex;
    flex-direction: column; 
    height: 100%;
  }
  
  .top-wrapp {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
    .block-title {
      h3 {
        margin-top: -7px;
        font-weight: bold;
      }
    }
  }

  .slide-dots {
    flex: 1;
     display: flex;
     gap: .2em;
     justify-content: center;
     align-items: center;
   }
   
   .crc-active {
     background-color: #3781A1;
     border: solid #3781A1;
     border-radius: 50%;
     width: 1px;
     height: 1px;
   }
   
   .crc {
     background-color: #92A79B;
     border: solid #92A79B;
     border-radius: 50%;
     width: 1px;
     height: 1px;
   }
   
   
   .bottom-wrapp {
     margin: 0;
     display: flex;
     justify-content: space-between;
   }
   
   .event-block {
     margin: 0;
     flex: 1;
     width: 100%;
     }
   
     .wrapp-borders1 {
       height: 100%;
       display: flex;
       flex-direction: column;
     }
   
     
   .block{
     width: 86%;
     height: 100%;
   }
   
   #interier-slika {
     background-image: url("../assets/interier.jpg");
     background-size: cover;
     background-repeat: no-repeat;
   }
   
   #vani-slika {
     background-image: url("../assets/vani.jpg");
     background-size: cover;
     background-repeat: no-repeat;
   }
     
   .block-title h3  {
     text-transform: uppercase;
     margin: 0;
     font-size: 9px;
     color:  #D15434;
     font-weight: 600;
   }
   
   .block-img {
     display: flex;
     align-items: center;
     justify-content: center;
     // background: red;
     flex: 1;
     width: 100%;
   }