.info-page {
   
   padding: 10%;
   background-color: $peach;
  }
  
  .info-contanier {
    gap: 2.5em;
    display: flex;
    flex-direction: column;
    height: 100%;
  
  }
  
  .info-block {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .info-block2 {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .item {
    border-right: 1px solid $orange;
    border-top: 1px solid $orange;
    width: 2.5rem;
    height: 2.5rem;
  }
  
  
  .block-border {
    display: flex;
  
  }
  
  .block-txt h1 {
    margin: 0;
  }
  
  .block-txt p {
    margin: 0;
    padding: 2em 3em 3em 3em;
    font-size: 22px;
  }