#info-section {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: $peach;
  }
  
  .info-wrapp {
    flex-direction: column;
    padding: 2.3em;
    display: flex;
    height: 100%;
  }
  
  .wrapp-borders {
    gap: 1.5em;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  
  .rec1 {
    align-self: end;
    border-top: 1.5px solid $orange;
    border-right: 1.5px solid $orange;
    width: 30px;
    height: 30px;
  }
  
  .rec2 {
    border-left: 1.5px solid $orange;
    border-bottom: 1.5px solid $orange;
    width: 30px;
    height: 30px;
  }
  
  .info-content {
    margin: 0 3em;

    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .crc-svg {
    border: 1px solid $orange;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .info-description h2 {
    color:$orange;
  }
  
  .info-description p {
    font-size: 18px;
    font-weight: 300;
  }
  
  .info-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .info-img-contanier {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 
  
  .slide-dots {
    flex: 1;
    display: flex;
    gap: 0.2em;
    justify-content: center;
    align-items: center;
  }
  
  .crc-active {
    background-color: $blue;
    border: solid $blue;
    border-radius: 50%;
    width: 1px;
    height: 1px;
  }
  
  .crc {
    background-color: $light-gray;
    border: solid $light-gray;
    border-radius: 50%;
    width: 1px;
    height: 1px;
  }