.info-page {
   padding: 10%;
   height: auto;
   background-color: $peach;
  }
  
  .info-contanier {
    display: flex;
    flex-direction: column;
  }
  
  .info-block {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .rec1 {
    padding: .5em;
    align-self: end;
    border-top: 1.5px solid $orange;
    border-right: 1.5px solid $orange;
    width: 30px;
    height: 30px;
  }

  .block-icon {
    margin: 1em;
  }
  
  .rec2 {
    padding: .5em;
    border-left: 2px solid $orange;
    border-bottom: 2px solid $orange;
    width: 30px;
    height: 30px;
  }
  
  .item {
    border-right: 2px solid $orange;
    border-top: 2px solid $orange;
    width: 2.5rem;
    height: 2.5rem;
  }
  
  
  .block-border {
    display: flex;
  
  }
  
  .block-txt {
    margin: 0;
  }

  .block-txt h2 {
    color: $orange;
    margin: 0;
  }
  
  .block-txt p {
    margin: 0;
    padding: 2em;
    font-size: 18px;
  }

  @media screen and (min-width:480px) {
    .info-page {
      min-width: 480px;
      padding: 5%;
      height: auto;
      background-color: $peach;
     }

    .info-contanier {
      display: flex;
      flex-direction: row;
    }
  }
 