#landing-page {
    display: flex;
    height: 75%;
  }
  
  .landing-wrapp {
    width: 100%;
    display: flex;
  }
  
  .landing-img {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 75vh;
    background-image: url('../assets/yokomain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  