footer {
  background-color:$orange;
}

#top-footer {
  height: 90%;
  padding: 3em;
  background-color:$orange;
  display: flex;
  flex-direction: column;
}

#top-footer-left {
  flex: 1;
}

.list-title h3 {
  font-size: 20px;
  color: $white;
  font-weight: 600;
}



li a {
  list-style: none;
  text-decoration: none;
  color:$peach;
  font-size: 14px;
}


#top-footer-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.footer-txt h3{
  font-size: 18px;
  color: $white;
  font-weight: 600;
}

.footer-txt p {
  color:$peach;
  font-size: 16px;
}

#bottom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 10%;
  color: $white;
  background-color:$blue;
}

p.copyright , p.reserved {
  font-size: 14px; 
  font-weight:400;
}

.line-break {
  height: 9px;
  border: 1px solid $white;
}

#icon {
  color: $white;
  font-size: 28px;
}

@media screen and (min-width:900px) {

  #top-footer {
    gap: 2em;
  }
  
  .list-title h3 {
    font-size: 16px;
    color: $white;
    font-weight: 600;
  }

  #footer-links {
    gap: 1em;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li a {
    text-decoration: none;
    color:$peach;
    font-size: 14px;
  }

  .footer-txt h3{
    display: none;
  }
  
  .footer-txt p {
    color:$white;
  }
  

  #top-footer-right{
    display: flex;
    flex-direction: row;
    gap: 4em;
    justify-content: start;

  }

  p.copyright , p.reserved {
    font-size: 12px; 
    font-weight:400;
  }
}
