footer {
  height: 50vh;
}

.top-footer {
  height: 90%;
  background-color:$orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-footer-col {
  display: flex;
  flex: 1;
  width: 100%;
}

.footer-lists {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.list-title h3 {
  font-size: 14px;
  color: $white;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

li a {
  color:$peach;
  font-size: 14px;
}

li {
  color: $peach;
  font-size: 14px;
}

.footer-logo-contanier {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-logo {
  width: 150px;
}

.bottom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 10%;
  color: $orange;
  background-color:$peach;
}

p.copyright {
  font-size: 10px; 
}

p.reserved {
  font-size: 14px;
  font-weight:400;
}

.line-break {
  height: 9px;
  border: 1px solid $orange;
}