@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Asap:ital,wght@0,500;1,500&family=Jost:wght@300;600&family=Mukta&family=Poppins:wght@200&family=Rowdies:wght@700&family=Yanone+Kaffeesatz:wght@500&display=swap"); @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Asap:ital,wght@0,500;1,500&family=Jost:wght@800&family=Mukta&family=Poppins:wght@200&family=Rowdies:wght@700&family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Asap:ital,wght@0,500;1,500&family=Jost:wght@300&family=Mukta&family=Poppins:wght@200&family=Rowdies:wght@700&family=Yanone+Kaffeesatz:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Asap:ital,wght@0,500;1,500&family=Jost:wght@300;400;600&family=Mukta&family=Poppins:wght@200&family=Rowdies:wght@700&family=Yanone+Kaffeesatz:wght@500&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
}

.wrapper {
  background-color: #EDCC95;
  width: 100%;
  height: 100vh;
}

$blue: #3781A1;
$orange: #D15434;
$peach: '';
$grey: #1C2834;