@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Asap:ital,wght@0,500;1,500&family=Jost:wght@300;600&family=Mukta&family=Poppins:wght@200&family=Rowdies:wght@700&family=Yanone+Kaffeesatz:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Asap:ital,wght@0,500;1,500&family=Jost:wght@800&family=Mukta&family=Poppins:wght@200&family=Rowdies:wght@700&family=Yanone+Kaffeesatz:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Asap:ital,wght@0,500;1,500&family=Jost:wght@300&family=Mukta&family=Poppins:wght@200&family=Rowdies:wght@700&family=Yanone+Kaffeesatz:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Asap:ital,wght@0,500;1,500&family=Jost:wght@300;400;600&family=Mukta&family=Poppins:wght@200&family=Rowdies:wght@700&family=Yanone+Kaffeesatz:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

.carousel {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.swiper-container {
  width: 90%;
  height: 200px;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-slide, .swiper-slide2 {
  height: 100%;
  width: 100%;
}

#swiper-slide-1 {
  background-image: url("../assets/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#swiper-slide-2 {
  background-image: url("../assets/event.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#swiper-slide-3 {
  background-image: url("../assets/cjen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#swiper-slide-4 {
  background-image: url("../assets/pet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#swiper2-slide-1 {
  background-image: url("../assets/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#swiper2-slide-2 {
  background-image: url("../assets/event.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#swiper2-slide-3 {
  background-image: url("../assets/cjen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#swiper2-slide-4 {
  background-image: url("../assets/vani.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-wrapper, .swiper-wrapper2 {
  width: 100%;
  height: 100%;
  background: green;
}

.swiper-pagination-wrapp, .swiper-pagination-wrapp2 {
  width: 70px;
  margin: auto;
  margin-top: 20px;
}

.swiper-pagination-custom, .swiper-pagination-custom2 {
  width: 100px;
  margin: auto;
  --swiper-pagination-color: #3781A1;
  --swiper-pagination-left: auto;
}

#carousel-section {
  height: 100vh;
}

#header {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

nav {
  flex: 1;
  width: 90%;
  margin: 5% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-contanier {
  flex: 1;
}

.logo {
  width: 50px;
}

.nav-list-contanier {
  display: none;
}

.nav-hamburger-contanier {
  flex: 1;
  display: flex;
  justify-content: end;
}

.nav-hamburger-items {
  flex: 1;
}

.hamburger-items {
  gap: 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  border: 1.5px solid #1C2834;
  width: 40px;
  border-radius: 50px;
}

.header-bottom {
  flex: 2;
  text-align: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-txt {
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-family: "Courgette", cursive;
  font-size: 35px;
  margin: 7px;
  font-weight: 600;
}

.title p {
  color: #686868;
  font-size: 18px;
  font-weight: 400;
  margin: -2px;
}

h1.jap {
  font-size: 18px;
  font-weight: 600;
}

@media screen and (min-width: 900px) {
  .logo {
    width: 85px;
  }
  .title h1 {
    font-size: 55px;
  }
  .title p {
    font-size: 20px;
  }
  h1.jap {
    font-size: 20px;
  }
  .nav-hamburger-contanier {
    display: none;
  }
  .nav-list-contanier {
    display: flex;
    flex: 1;
    justify-content: end;
  }
  #nav-links {
    gap: 4em;
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
  }
  .nav-li {
    text-decoration: none;
    color: #1C2834;
    font-size: 20px;
  }
}
footer {
  background-color: #D15434;
}

#top-footer {
  height: 90%;
  padding: 3em;
  background-color: #D15434;
  display: flex;
  flex-direction: column;
}

#top-footer-left {
  flex: 1;
}

.list-title h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

li a {
  text-decoration: none;
  color: #EDCC95;
  font-size: 14px;
}

#top-footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-txt h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.footer-txt p {
  color: #EDCC95;
  font-size: 16px;
}

#bottom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 10%;
  color: #fff;
  background-color: #3781A1;
}

p.copyright, p.reserved {
  font-size: 14px;
  font-weight: 400;
}

.line-break {
  height: 9px;
  border: 1px solid #fff;
}

#icon {
  color: #fff;
  font-size: 28px;
}

@media screen and (min-width: 900px) {
  #top-footer {
    gap: 2em;
  }
  .list-title h3 {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
  }
  #footer-links {
    gap: 1em;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li a {
    text-decoration: none;
    color: #EDCC95;
    font-size: 14px;
  }
  .footer-txt h3 {
    display: none;
  }
  .footer-txt p {
    color: #fff;
  }
  #top-footer-right {
    display: flex;
    flex-direction: row;
    gap: 4em;
    justify-content: start;
  }
  p.copyright, p.reserved {
    font-size: 12px;
    font-weight: 400;
  }
}
#landing-page {
  display: flex;
  height: 75%;
}

.landing-wrapp {
  width: 100%;
  display: flex;
}

.landing-img {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 75vh;
  background-image: url("../assets/yokomain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#info-section {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #EDCC95;
}

.info-wrapp {
  flex-direction: column;
  padding: 2.3em;
  display: flex;
  height: 100%;
}

.wrapp-borders {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.rec1 {
  align-self: end;
  border-top: 1.5px solid #D15434;
  border-right: 1.5px solid #D15434;
  width: 30px;
  height: 30px;
}

.rec2 {
  border-left: 1.5px solid #D15434;
  border-bottom: 1.5px solid #D15434;
  width: 30px;
  height: 30px;
}

.info-content {
  margin: 0 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crc-svg {
  border: 1px solid #D15434;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-description h2 {
  color: #D15434;
}

.info-description p {
  margin: 2em 0;
  font-size: 18px;
  font-weight: 300;
}

.info-bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.info-img-contanier {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-dots {
  flex: 1;
  display: flex;
  gap: 0.2em;
  justify-content: center;
  align-items: center;
}

.crc-active {
  background-color: #3781A1;
  border: solid #3781A1;
  border-radius: 50%;
  width: 1px;
  height: 1px;
}

.crc {
  background-color: #686868;
  border: solid #686868;
  border-radius: 50%;
  width: 1px;
  height: 1px;
}

#menu-page {
  background-color: #fff;
  display: flex;
}

.menu-wrapp {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#menu-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
  flex: 1;
}

.menu-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 10px;
  color: #3781A1;
  font-weight: 600;
}

.menu-title h1 {
  font-size: 14px;
  margin: 0;
}

.menu-txt {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.menu-txt h3 {
  padding: 0.5em 0;
  color: #1C2834;
  font-size: 35px;
  font-weight: 800;
  margin: 0;
}

.menu-txt p {
  margin: 0;
  font-size: 14px;
  color: #686868;
  font-weight: 400;
}

.menu-ponuda h1 {
  margin-top: 2em;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #D15434;
  font-weight: 800;
}

.ponuda-txt {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

p.name {
  margin: 0;
  font-size: 16px;
  color: #1C2834;
  font-weight: 400;
}

p.price {
  font-size: 15px;
  color: #D15434;
  font-weight: 600;
  margin: 1em;
}

.ponuda-line {
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #D15434;
}

#menu-bottom {
  flex: 1;
  width: 100%;
}

.menu-img {
  width: 100%;
  height: 100%;
  background-image: url("../assets/cjenovnik.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 480px) {
  .menu-wrapp {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  #menu-top {
    gap: 2em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 3em;
    flex: 1;
  }
  .menu-title h1 {
    font-size: 18px;
    margin: 0;
  }
  .menu-txt {
    display: flex;
    justify-content: end;
    flex-direction: column;
  }
  .menu-txt h3 {
    font-size: 50px;
  }
  .menu-txt p {
    margin: 0;
    font-size: 22px;
    color: #686868;
    font-weight: 400;
  }
  .menu-ponuda h1 {
    margin-top: 2em;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #D15434;
    font-weight: 800;
  }
  .menu-img {
    height: 100%;
    width: 100%;
    background-image: url("../assets/cjenovnik.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.info-page {
  padding: 10%;
  height: auto;
  background-color: #EDCC95;
}

.info-contanier {
  display: flex;
  flex-direction: column;
}

.info-block {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.rec1 {
  padding: 0.5em;
  align-self: end;
  border-top: 1.5px solid #D15434;
  border-right: 1.5px solid #D15434;
  width: 30px;
  height: 30px;
}

.block-icon {
  margin: 1em;
}

.rec2 {
  padding: 0.5em;
  border-left: 2px solid #D15434;
  border-bottom: 2px solid #D15434;
  width: 30px;
  height: 30px;
}

.item {
  border-right: 2px solid #D15434;
  border-top: 2px solid #D15434;
  width: 2.5rem;
  height: 2.5rem;
}

.block-border {
  display: flex;
}

.block-txt {
  margin: 0;
}

.block-txt h2 {
  color: #D15434;
  margin: 0;
}

.block-txt p {
  margin: 0;
  padding: 2em;
  font-size: 18px;
}

@media screen and (min-width: 480px) {
  .info-page {
    padding: 7%;
  }
  .info-contanier {
    display: flex;
    gap: 3.5em;
    justify-content: space-around;
    flex-direction: row;
  }
  .info-block {
    width: 30em;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .block-txt h2 {
    font-size: 28px;
    color: #D15434;
    margin: 0;
  }
  .block-txt p {
    margin: 0;
    padding: 2em;
    font-size: 20px;
  }
}
#event-page {
  height: 120vh;
  padding: 4em;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.event-wrapp {
  height: auto;
  width: 100%;
}

#event-top {
  padding-bottom: 3.5em;
}

.event-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 10px;
  color: #3781A1;
  font-weight: 600;
}

.event-title h1 {
  font-size: 14px;
  margin: 0;
}

.event-txt {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.event-txt h3 {
  padding: 0.5em 0;
  color: #1C2834;
  font-size: 35px;
  font-weight: 800;
  margin: 0;
}

.event-txt p {
  margin: 0;
  font-size: 14px;
  color: #686868;
  font-weight: 400;
}

#event-bottom {
  height: 100%;
}

.event-sections {
  gap: 2em;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.event-block {
  margin: 0;
  flex: 1;
  width: 100%;
}

.wrapp-borders1 {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top-wrapp {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.top-wrapp .block-title h3 {
  text-transform: uppercase;
  font-size: 17px;
  color: #D15434;
  font-weight: 600;
}

.slide-dots {
  flex: 1;
  display: flex;
  gap: 0.2em;
  justify-content: center;
  align-items: center;
}

.crc-active {
  background-color: #3781A1;
  border: solid #3781A1;
  border-radius: 50%;
  width: 1px;
  height: 1px;
}

.crc {
  background-color: #686868;
  border: solid #686868;
  border-radius: 50%;
  width: 1px;
  height: 1px;
}

.bottom-wrapp {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.event-block {
  margin: 0;
  flex: 1;
  width: 100%;
}

.wrapp-borders1 {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.block {
  width: 86%;
  height: 100%;
}

#interier-slika {
  background-image: url("../assets/interier.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#vani-slika {
  background-image: url("../assets/vani.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.block-title h3 {
  text-transform: uppercase;
  margin: 0;
  font-size: 9px;
  color: #D15434;
  font-weight: 600;
}

.block-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

@media screen and (min-width: 900px) {
  #event-page {
    height: auto;
  }
  #event-bottom {
    height: auto;
  }
  .event-sections {
    height: 40vh;
    flex-direction: row;
  }
  .rec1 {
    padding: 0;
  }
  .rec2 {
    padding: 0;
    border-left: 1.5px solid #D15434;
    border-bottom: 1.5px solid #D15434;
  }
  .event-txt h3 {
    font-size: 50px;
  }
  .event-txt p {
    font-size: 22px;
  }
  .block-title h3 {
    font-size: 15px;
  }
  .event-sections {
    height: 45vh;
  }
}
#about-page {
  display: flex;
  background-color: #fff;
}

.about-wrapp {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#about-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
  flex: 1;
}

.about-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 10px;
  color: #3781A1;
  font-weight: 600;
}

.about-title h1 {
  font-size: 14px;
  margin: 0;
}

.about-txt {
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin: 2em 0;
}

.about-txt h3 {
  padding: 0.5em 0;
  color: #1C2834;
  font-size: 35px;
  font-weight: 800;
  margin: 0;
}

.about-txt p {
  margin: 0;
  font-size: 14px;
  color: #686868;
  font-weight: 400;
}

.about-info {
  justify-content: space-between;
  display: flex;
}

.info h1 {
  margin-top: 2em;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #D15434;
  font-weight: 800;
}

.info p {
  margin: 0;
  font-size: 14px;
  color: #1C2834;
  font-weight: 400;
}

#about-bottom {
  flex: 1;
  height: 100%;
}

.about-img {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 900px) {
  .about-wrapp {
    min-width: 480px;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  #about-top {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 3em;
    flex: 1;
  }
  .about-title h1 {
    font-size: 18px;
    margin: 0;
  }
  .about-txt {
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin: 2em 0;
  }
  .about-txt h3 {
    font-size: 50px;
  }
  .about-txt p {
    margin: 0;
    font-size: 22px;
    color: #686868;
    font-weight: 400;
  }
  .about-info {
    margin-top: 1em;
    gap: 5em;
    display: flex;
  }
  .info h1 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0.7em;
    color: #D15434;
    font-weight: 800;
  }
  .info p {
    margin: 0;
    font-size: 18px;
    color: #686868;
    font-weight: 600;
  }
  #about-bottom {
    flex: 1;
    height: 100%;
  }
  .about-img {
    height: 100%;
    width: 100%;
    background-image: url("../../assets/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}/*# sourceMappingURL=styles.css.map */